.reviews-container{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px;
    max-width: 90%; 
    height: 25em;
    margin: auto; 
    gap: 2%;  
    margin-bottom: 1vw;
    
    
}

.bg-rev{
    background-color: #ababab;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@media (max-width:1100px) {
    .reviews-container{
        width: 50%; 
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}