.form-cover{
    background-image:url("../../assets/runner.png");
    background-size: cover;
    
}



.reg-form-container{
    width: 40em;
    height: auto;
    margin-top: 2rem;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.398);
    overflow: hidden;
    align-items: center; 
    margin-bottom: 200px;
    border-radius: 20px;
    background-color: #b4a11046;

}

.reg-form-head{
    font-size: 2.7rem;
    text-align: center;
    margin-top: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.reg-form-p{
    font-size: 1rem;
    text-align: center;
    margin-top: .1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.icon{
    margin: .2em;
    display: flex;
    justify-content: center;
}

.reg-form-container input{
    height: 4rem;
    margin: 2%;
    border: 2px solid rgba(0, 0, 0, 0.645);
    border-radius: 10px;
    font-size: large;
    text-align: center;
    margin-left: 2vw;
    
}


.inp-name{
    width: 35rem;
    background-color: transparent;

}

.inp-flds {
    width: 35rem;
    background-color: transparent;
   
    
}


.inp-gen{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 32%;
} 

.form-main{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

#gender{
    margin-left: 24px;
    font-size: 1.5rem;
    background-color: transparent;
}

.label-jer{
    font-size: 1.5rem;
    margin-left: 20%;
    
}

#col-selector{
   height: 40px;
   background-color: transparent;
}

.label-sub{
    margin-top: 200px;
    font-size: 1.5rem;
    margin-left: 20%;
}

#plan{
    margin-left: 24px;
    font-size: 1.5rem;
    background-color: transparent;
    
}

.submit-btn{
    margin-top: 30px;
    margin-left: 37%;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 40px;
    padding: 10px;
    width: 150px;
    background-color: rgba(221, 229, 248, 0.442);
    cursor: pointer;
}

.submit-btn:hover{
    background-color: rgba(0, 98, 255, 0.573);
}

@media (max-width:731px) {
    .reg-form-container{
        width: 66vw;
    }
    
    .reg-form-head{
        font-size: 2.0rem;
    }
    
    .reg-form-p{
        font-size: .91rem;
    }
    
    
    
    .reg-form-container input{
        height: 7vw;
        font-size: medium;
    }
    
    
    .inp-name{
        width: 58vw;  
    }
    
    .inp-flds {
        width: 58vw;
    }
    
    
    .inp-gen{
        /* font-size: 3vw; */
        margin-left: 10%;
    } 
    

    
    #gender{
        margin-left: 24px;
        margin-top: 10px;
        font-size: 5vw;
     
        
    }
    
    .label-jer{
        font-size: 5vw;
        margin-left: 5%;
    }
    
    #col-selector{

       height: 10vw;
       margin-left:40%;
    }
    
    .label-sub{
        
        font-size: 5vw;
        margin-left: 18%;
    }
    
    #plan{
        margin-left:30%;
        font-size: 4vw;
     
    }
    
    .submit-btn{
        margin-top: 30px;
        margin-left:30%;
        font-size: 4vw;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 40px;
        padding: 10px;
        width: 30vw;
        
    }
    
}