.upper-portion{
    margin-top: 100px;
    width: 100%;
    height: 1300px;
    background-color: black;
    display: flex;
    flex-direction: column;   
    justify-content: center;

}

.Ab-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    border: 2px solid #5F7252;
    border-radius: 40px;
    color: white;
    width: 180px;
    height: 40px;
    font-size: 1.1rem;
    margin-top: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Ab-para{
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.p1{
    display: flex;
    justify-content: center;
}

.p2{
    display: flex;
    margin-top: 8px;
    justify-content: center;
}

.Ab-des-con{
    margin-top: 50px;
}

.Ab-des{
    display: flex;
    width: 620px;
    height: auto;
    color: white;
    margin-left: 34%;
    justify-content: center;
    padding: 3px;
    font-size: 1.1rem;
}

.lower-portion{
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
    margin: 50px;
    width: 80%;
    margin-left: 7%;

}
.form-container{
    display: flex;
    height: 500px;
    width: 700px;
    margin-left: 5%;
    border-radius: 30px;
    border: 2px solid white;
}

.form-head{
    color: white;
    font-size: 1.9rem;
    font-weight: 600;
    margin: 10px;
    margin-bottom: 20px;

}

.form-container input{
    width: 450px;
    height: 70px;
    border-radius: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;

}


.sub-btn{
    width: 100px;
    height: 45px;
    border-radius: 40px;
    background-color:#97FB57;
    font-size: large;
}




.image-container {
    width: 100%;
    max-width: 25vw; 
    height: 25vw; 
    position: relative; 
    overflow: hidden; 
    margin-top: 8px;
    margin-right: 350px;
    border-radius: 20px;
  }
  
.image-container img {
    width: 100%; 
    height: auto; 
    display: block; 
    position: absolute; 
    top: 0; 
    left: 0; 
  }


