.mem-head{
    color: white;
    font-size: 3.2vw;
    display: flex;    
    font-weight: 600;
    justify-content: center;
    margin-top: 8vw;
}


.mem-con{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
    

}