.mem-head{
    color: rgb(0, 0, 0);
    font-size: 3.2vw;
    display: flex;    
    font-weight: 600;
    justify-content: center;
    margin-top: 8vw;
    text-shadow: .1vw .1vw rgb(148, 148, 148);
}


.mem-con{
    width: 100%;
    height: auto;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}


.waves{
    position: relative;
    display: block;
    height: 0px;
    z-index: 0;

}



.waves2{
    position: relative;
    display: block;
    height: 10vw;
    z-index: -10;
    
}