.memb-card{
    width:14vw;
    height: 20vw;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin: 4vw;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    z-index: 100;
    
}

.memb-card:hover{
    transition: .6s;
    box-shadow: 
        0 0 0 3px rgba(0, 0, 0, 1), 
        0 0 0 6px rgba(255, 255, 255, 1),
        0 0 0 9px rgba(0, 0, 0, 1), 
        0 0 0 12px rgba(255, 255, 255, 1),
        0 0 0 15px rgba(0, 0, 0, 1);
}



.memb-card h1{
    font-size: 2.5vw;
    
}

.memb-card h2{
    margin-top: 10px;
    font-size: 2vw;
    margin-bottom: 20px;
}

.memb-card p{
    font-size: 1.6vh;
    opacity: 88%;
    margin-top: 5px;
    margin-left: 2px;
}

.mem-ico{
    text-decoration: none;
    font-size:.92vw;
}


.card-layout{
    padding: 10px;
    margin: 8px;
    
}


.memb-btn{
    display: flex;
    justify-content: center;
    margin-top: 2.8vw;

    
}


.memb-btn button{
    font-size: 2vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    padding: .9vw;
    border-radius: 50px;
    cursor: pointer;
}


.memb-btn button:hover{
    background-color: #78cb04ca;
}





@media (max-width:1500px){
    .memb-card{
        width: 25vw;
        height: 32vw;
        border: 1.7px solid rgb(0, 0, 0);
        border-radius: 20px;
        margin: 2vw;
    }
    

    .card-layout{
        padding: 10px;
        margin: 20px;
        padding-bottom: .2vh;

    }

    .memb-btn button{
        font-size: 1.8vw;
        color: black;
        border-radius: 50px;
    }

    
    .memb-card h1{
        font-size: 4.5vw;
        
    }

    .memb-card h2{
        margin-top: 10px;
        font-size: 3vw;
        margin-bottom: 20px;
    }

    .memb-card p{
        font-size: 1.4vw;
        opacity: 88%;
        margin-top: 5px;
        margin-left: 2px;
    }

    .mem-ico{
        text-decoration: none;
        font-size:1.6vw;
    }
}

@media (max-width:868px) {


    .memb-card{
        width: 25vw;
        height: 32vw;
        border: 1.7px solid rgb(0, 0, 0);
        border-radius: 20px;
        margin: 2vw;
    }
    

    .card-layout{
        padding: 0px;
        margin: 10px;
        padding-bottom: 0vh;

    }

    .memb-btn button{
        font-size: 1.7vw;
        color: black;
        border-radius: 50px;
    }

    
    .memb-card h1{
        font-size: 4vw;
        
    }

    .memb-card h2{
        margin-top: 3px;
        font-size: 2.8vw;
        margin-bottom: 20px;
    }

    .memb-card p{
        font-size: 1.8vw;
        opacity: 88%;
        margin-top: 1px;
        margin-left: 2px;
    }

    .mem-ico{
        text-decoration: none;
        font-size:1.8vw;

    }
    
}



@media (max-width:650px) {
    
    .memb-card{
        margin: 5vw;
    }  
    

    
    .memb-card{
        width: 45vw;
        height: 55vw;
        border: 1.7px solid rgb(0, 0, 0);
        border-radius: 20px;
        margin: 2vw;
    }
    

    .card-layout{
        padding: 0px;
        margin: 10px;
        padding-bottom: 0vh;

    }

    .memb-btn button{
        font-size: 3.7vw;
        color: black;
        border-radius: 50px;
        margin-top: 2vh;
    }

    
    .memb-card h1{
        font-size: 6vw;
        
    }

    .memb-card h2{
        margin-top: 7px;
        font-size: 5.5vw;
        margin-bottom: 0px;
    }

    .memb-card p{
        font-size: 2.5vw;
        opacity: 88%;
        margin-top: 1px;
        margin-left: 2px;
    }

    .mem-ico{
        text-decoration: none;
        font-size:3vw;

    }
    


}




@media(max-width:280px){
    .memb-btn button{
        margin-top: 0px;
        font-size: 3.7vw;
        color: black;
        border-radius: 50px;
    }
}