.memb-card{
    width:14vw;
    height: 20vw;
    border: 2px solid rgb(255, 253, 253);
    border-radius: 20px;
    margin: 4vw;
    font-size: .8vw;
    /* background-color: rgba(5, 22, 155, 0.442); */
}


.mem-ico{
    text-decoration: none;
}


.card-layout{
    padding: 25px;
    margin: 10px;


}

.memb-btn{
    display: flex;
    justify-content: center;
    
}


.memb-btn button{
    font-size: .8vw;
    color: black;
    padding: .31vw;
    border-radius: 20px;

}



@media (max-width:1500px){
    .memb-card{
        width: 25vw;
        height: 32vw;
        border: 1.7px solid rgb(255, 253, 253);
        border-radius: 20px;
        margin: 3vw;
        font-size: 1.7vw;
    }
    

    .card-layout{
        padding: 10px;
        margin: 0px;
        padding-bottom: 2vw;
    

    }

    .memb-btn button{
        font-size: 1.5vw;
        color: black;
        /* padding: .7vh; */
        border-radius: 20px;
    
    }


}



@media (max-width:500px){
    .memb-card{
        width: 30vw;
        height: 35vw;
        border: 1.7px solid rgb(255, 253, 253);
        border-radius: 20px;
        margin-right: 7vw;
        margin-left: 7vw;
        font-size: 1.7vw;
    }
    

    .card-layout{
        padding: 13px;
        padding-bottom: 2vw;
    

    }

    .memb-btn button{
        font-size: 3vw;
        color: black;
        /* padding: .7vh; */
        border-radius: 20px;
    
    }


}


@media (max-width:400px){
    .memb-card{
        width: 40vw;
        height: 40vw;
        border: 1.2px solid rgb(255, 253, 253);
        border-radius: 20px;
        margin-right: 01vw;
        margin-left: 01vw;
        font-size: 1.8vw;
    }
    

    .card-layout{
        padding: 11px;
        padding-bottom: 4vw;
    

    }

    .memb-btn button{
        font-size: 3vw;
        padding: 1vw;
        color: black;
        /* padding: .7vh; */
        border-radius: 20px;
    
    }


}




