.enroll-img{
    width: 100%;
    height: auto;
    filter:opacity(70%);
}


.enroll-div{
    position: relative;  
}


.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(17, 17, 17);
}

  
.enroll-div h2 {
    font-size: 4vw; 
    color: yellow;
    opacity: 50%;
    text-align: center; 
  
}



.enroll-div p {
    font-size: 1vw; 
    color: black;
    text-align: center;
    opacity: 60%;
}

.text-overlay h2,
.text-overlay p {
  margin: 0;
}

.text-overlay h2{
  text-shadow: 2px 2px black;
}


.btn-enroll {
    border-radius: 1.9rem;
    background-color: yellow;
    opacity: 80%;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 1.1vw; 
    padding: 10px 15px; 
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 1.8vh;
  }
  
  .btn-enroll span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: black;
  }
  
  .btn-enroll span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;

  }
  
  .btn-enroll:hover span {
    padding-right: 25px;
    
  }
  
  .btn-enroll:hover span:after {
    opacity: 1;
    right: 0;
    }



.wave-enroll{
 
  position: relative;
  display: block;
  height: 3vw;
  z-index: -10;
}



@media (max-width:768px) {
  .enroll-img{
    height: 50vw;
}


.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(17, 17, 17);
}

  
.enroll-div h2 {
    font-size: 8vw;  
    width: 67vw;
}



.enroll-div p {
    font-size: 3vw; 
    opacity: 80%;
}



.text-overlay h2{
  text-shadow: 3px 4px black;
}


.btn-enroll {
    opacity: 80%;
    font-size: 3.5vw; 
    padding: 10px 15px; 

  }
}


@media (max-width:375px) {
  .enroll-img{
    height: 50vw;
}


.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(17, 17, 17);
}

  
.enroll-div h2 {
    font-size: 9vw;  
    width: 67vw;
}



.enroll-div p {
    font-size: 3vw; 
    opacity: 80%;
}



.text-overlay h2{
  text-shadow: 3px 4px black;
}


.btn-enroll {
    opacity: 80%;
    font-size: 3.5vw; 
    padding: 10px 15px; 

  }


}



