

.desc{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1vw;
}


.form-container{
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: 30vw;
    align-items: center;
    margin-top: 1vw;
    border: 1.5px solid rgb(250, 248, 248);
    box-sizing: border-box;
    border-radius: 2vw;
    border-style:solid;
    box-shadow: 0 4px 8px 0 rgba(244, 248, 0, 0.2), 0 6px 20px 0 rgba(221, 218, 9, 0.19);
    background-color: rgba(11, 11, 11, 0.719);

   
}

.map-frame{
    border: 2px solid rgb(115, 113, 113);
    margin-top: 2rem;
    display: flex;
    height: 30vw;
    border-radius: 1.2vw;

}

.contact-sec h3{
    font-size: 1vw;

}

.contact-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5vw;
    padding-top: 20px; 
    height: auto;
    margin-left: 6vw;
    /* width: 100%; */
}

.contact-sec input{
    color: rgb(5, 5, 5);
}



.headingClass{
    font-size: 3vw;
}



.headingClass{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
}


.input1{
    margin-top: 1vh;
    height: 4vw;
    width: 26vw;
    border: 1px solid white;
    background-color: aliceblue;
    border-radius: 27px;
    text-align: center;
}

.msg-input{
    margin-top: .7rem;
    height: 9vw;
    width: 26vw;
    border: 1px solid white;
    background-color: aliceblue;
    border-radius: 27px;
    text-align: center;
}

.send-btn{
    height: 3.5vw;
    width: 26vw;
    background-color: rgb(71, 151, 204);
    border: 1px solid black;
    border-radius: 50px;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}

.send-btn:hover{
    background-color: rgba(242, 230, 11, 0.81);
}


