.tr-head{
    color: rgb(0, 0, 0);
    font-size: 3vw;
    display: flex;    
    font-weight: 600;
    justify-content: center;
    margin-top: 8vw;
    text-shadow: .1vw .1vw rgb(148, 148, 148);
}


.cards-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 0px;

}





@media (max-width: 800px) {
    .cards-con .card-cntr {
      max-width: calc(50% - 20px); /* Two cards per row */
    }
  }
  

