.tr-head{
    color: rgb(0, 0, 0);
    font-size: 5vh;
    display: flex;    
    font-weight: 600;
    justify-content: center;
    /* margin-top: 8vw; */
    text-shadow: .1vw .1vw rgb(148, 148, 148);
}


.cards-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 0px;

}



.tr-p{
  display: flex;
  justify-content: center;
  font-size: 1vw;
}


@media(max-width:1179px){
  .tr-p{
    font-size: 1.6vw;
  }
}




@media (max-width:814px) {
  .tr-head{
    font-size: 4vh;
  }

  .tr-p{
    font-size: 1.9vw;
  }

}


@media (max-width: 800px) {
    .cards-con .card-cntr {
      max-width: calc(50% - 20px); /* Two cards per row */
    }
  }
  


  @media(max-width:567px){
    .tr-p{
      font-size: 2.5vw;
    }
  }
