.card-cntr {
  box-shadow: 0 4px 8px 0 rgba(212, 212, 7, 0.2);
  width: 200px; /* Fixed width */
  height: 425px; /* Fixed height */
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  border: 1px solid rgb(219, 218, 218);
  border-radius: 50px;
  padding: 8px;
  background-color: rgba(87, 83, 4, 0);
}


@media (max-width:1455px) {
  .card-cntr{
    height: 385px;
  }
}



@media (max-width:1003px) {
  .card-cntr{
    height: 350px;
  }


}





.card-cntr h1{
  font-size: 1vw;
  color: white;
}

.card-cntr p{
  color: rgb(186, 171, 171);
}

.tr-title {
    color: rgb(192, 191, 191);
    font-size: 1vw;
  }
  

  
.card-cntr a {
    text-decoration: none;
    font-size: .9vw;
    color: rgb(192, 188, 188);
  }
  
.card-cntr button:hover, a:hover {
    opacity: 0.7;
  }


.card-imga{
    display: flex;
    height: 240px;
    width: 95%;
    border-radius: 42px;
    padding: 02px;
    border: 2px solid rgb(145, 142, 142);
  
    
}


.tr-icons{
  /* padding: .30vw; */
  margin: 0vw 1vw;

}


@media (max-width: 200px) {
  .cards-con .card-cntr {
    width: calc(50% - 40px); /* Two cards per row with margin */
  }
}
