.card-cntr {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 228px; /* Fixed width */
  height: auto; /* Fixed height */
  margin-top: 6vw;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
  padding: 8px;
  background-color:#ffffff;
}


.card-imga{
  display: flex;
  height: 240px;
  width: 95%;
  border-radius: 42px;
  padding: 02px;
  border: 2px solid rgb(0, 0, 0);
  margin-bottom: 1vw;
}



.card-cntr h1{
  font-size: 2vh;
  color: rgb(0, 0, 0);
  margin-bottom: .7vw;
}

.card-cntr p{
  color: rgb(69, 67, 67);
  margin-bottom: .6vw;
}

.tr-title {
    color: rgb(192, 191, 191);
    font-size: 1.1vw;
  }
  

  
.card-cntr a {
    text-decoration: none;
    font-size: 4vh;
    color: rgb(14, 14, 14);
  }
  
.card-cntr button:hover, a:hover {
    opacity: 0.7;
  }




.tr-icons{
  margin: 0vw 1.2vw;

}



@media (max-width:1455px) {

  .tr-title {
    color: rgb(192, 191, 191);
    font-size: 1.8vh;
  }
  
}







@media (max-width: 480px) {
  .card-cntr{
  
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
  }  

  .card-imga{
    height: 150px;
    width: 90%;
  }

  .card-cntr p{
    font-size: .7rem;
  }

}

