.card-cntr {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 228px; /* Fixed width */
  height: 425px; /* Fixed height */
  margin-top: 6vw;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
  padding: 8px;
  background-color: rgba(87, 83, 4, 0);
}


.card-imga{
  display: flex;
  height: 240px;
  width: 95%;
  border-radius: 42px;
  padding: 02px;
  border: 2px solid rgb(0, 0, 0);
  margin-bottom: 1vw;
}



.card-cntr h1{
  font-size: 1vw;
  color: rgb(0, 0, 0);
  margin-bottom: .7vw;
}

.card-cntr p{
  color: rgb(69, 67, 67);
  margin-bottom: .6vw;
}

.tr-title {
    color: rgb(192, 191, 191);
    font-size: 1vw;
  }
  

  
.card-cntr a {
    text-decoration: none;
    font-size: .9vw;
    color: rgb(14, 14, 14);
  }
  
.card-cntr button:hover, a:hover {
    opacity: 0.7;
  }




.tr-icons{
  margin: 0vw 1vw;
}



@media (max-width:1455px) {
  .card-cntr{
    height: 385px;
  }
}



@media (max-width:1003px) {
  .card-cntr{
    height: 350px;
    width: 210px;
  }


}

@media (max-width: 828px) {
  .card-cntr{
    width: 180px;
  }  
}

@media (max-width: 728px) {
  .card-cntr{
    height: 250px;
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
  }  

  .card-imga{
    height: 150px;
    width: 90%;
  }

  .card-cntr p{
    font-size: .7rem;
  }

}


@media (max-width:508px) {
  .card-cntr{
    height: 180px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }  

  .card-imga{
    height: 100px;
    width: 87%;
  }

  .card-cntr p{
    font-size: .5rem;
  }

}


@media (max-width:369px) {
  .card-cntr{
    height: 160px;
    width: 70px;
    margin-left: 10px;
    margin-right: 10px;
  }  

  .card-imga{
    height: 80px;
    width: 87%;
  }

  .card-cntr p{
    font-size: .5rem;
  }

}



@media (max-width:339px) {
  .card-cntr{
    height: 150px;
    width: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }  

  .card-imga{
    height: 70px;
    width: 92%;
    margin: 0;
    padding: 0;
    
  }

  .card-cntr p{
    font-size: .45rem;
    
  }

}







@media (max-width: 200px) {
  .cards-con .card-cntr {
    width: calc(50% - 40px); /* Two cards per row with margin */
  }
}




