.img-sl-con{
    width: 100%;
    height: 200px;
}


.img-sl-con img{
    
    width: 90%;
    height: 18vh;
}

.pr-head{
    display: flex;
    justify-content: center;
}

.awssld__content{
    background-color: #dedcdc;
}