/* body{
    background-color: #ffffff;
    overflow-x: hidden;
}

*{
    font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
    color: rgb(0, 0, 0);
} */




body{
    background-color: #000000;
    overflow-x: hidden;
    
}

*{
    font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
    color: rgb(8, 8, 8);
    margin: 0;
}

/* #141517 */